######## DELETE THIS LINE AND MAKE SURE TO CHANGE THE FILENAME TO .env BEFORE BUILDING

MONGODB_URI = "mongodb+srv://testuser:testuser@users.n6ag96y.mongodb.net/?retryWrites=true&w=majority&appName=users"
GOOGLE_API_KEY = "AIzaSyC2feE-um1mJ7fBXOyQ4ASykJ54lpyM9ag"
WEATHER_API_URL = "https://archive-api.open-meteo.com/v1/archive"
JWT_SECRET = "RandomSecretString"